header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid gray;
    background-color: white;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.header-logo {
    height: 2em;
    padding: 0;
}

.logout-icon {
    cursor: pointer;
    margin-left: 20px;
    transition: all .2s ease;
}

.logout-icon:hover {
    color: aqua;
}